a
  color: #AC8F0F

.HometownTitleh4
  font-size: 34px
  align-text: center
  font-weight: 500

.HometownTitleh5
  font-size: 24px
  align-text: center
  font-weight: 500

.HometownTitleh6
  font-size: 20px
  align-text: center
  font-weight: 500

.HometownNews
  font-size: 24px
  align-text: center 
  font-weight: 500

.HometownFooterFull  
  font-size: 14px

.HometownFooterFullEmail
  font-size: 12px

.HometownFooterFullVersion
  font-size: 12px

.HometownFooterMobile
  font-size: 12px

.HometownFooterMobileEmail
  font-size: 10px

.HometownFooterMobileVersion
  font-size: 10px
 	  
.HometownImage
  margin: 0
  padding-left: 0
  padding-right: 0 
  width: 100%

.HometownMenu 
  max-width: 180px
  color: #AC8F0F 
  
.HometownToolbarTitle
  font-weight 600
  
.HometownLink 
  color: #AC8F0F 

.HometownSchedule
  color: #AC8F0F
  
@require '../../node_modules/vuetify/src/stylus/main.styl'
