$theme := {
      primary: '#FDD835',
      secondary: '#FFECB3',
      accent: '#F9A825',
      error: '#f44336',
      warning: '#FFAB91',
      info: '#2196f3',
      success: '#4caf50'
    }
    
.HometownItalic
  font-style: italic

.HometownImage
  margin: 0
  padding-left: 0
  padding-right: 0 
  width: 100%

.HometownMenu 
  max-width: 180px
  color: #AC8F0F 
  
.HometownToolbarTitle
  font-weight 600
  
.HometownLink 
  color: #AC8F0F 
  
@require '~vuetifty/src/stylus/main.styl'
