a
  color: #AC8F0F

.HometownItalic
  font-style: italic

.HometownImage
  margin: 0
  padding-left: 0
  padding-right: 0 
  width: 100%

.HometownMenu 
  max-width: 180px
  color: #AC8F0F 
  
.HometownToolbarTitle
  font-weight 600
  
.HometownLink 
  color: #AC8F0F 
  
@require '../../node_modules/vuetify/src/stylus/main.styl'
