$headings := {
  h1: { size: 112px, weight: 600, line-height: 1, letter-spacing: -.04em, font-family: $heading-font-family },
  h2: { size: 56px, weight: 600, line-height: 1.35, letter-spacing: -.02em, font-family: $heading-font-family },
  h3: { size: 45px, weight: 600, line-height: 48px, letter-spacing: normal, font-family: $heading-font-family },
  h4: { size: 34px, weight: 600, line-height: 40px, letter-spacing: normal, font-family: $heading-font-family },
  h5: { size: 24px, weight: 600, line-height: 32px, letter-spacing: normal, font-family: $heading-font-family },
  h6: { size: 20px, weight: 600, line-height: 1, letter-spacing: .02em, font-family: $heading-font-family },
  subheading: { size: 16px, weight: 500 },
  body-2: { size: 14px, weight: 600 },
  body-1: { size: 14px, weight: 500 },
  caption: { size: 12px, weight: 500 },
  button: { size: 14px, weight: 600 }
}

.HometownImage
  margin: 0
  padding-left: 0
  padding-right: 0 
  width: 100%

.HometownMenu 
  max-width: 180px
  color: #ac8f0f

.HometownTestimonials 
  padding-bottom: 0
  font-weight: 800
  font-size: 20px
  font-style: italic

.HometownTestimonialsSmall 
  font-weight: 500
  font-size: 14px
  font-style: italic

.HometownFooter 
  height: auto
  text-align: center
  font-size: 12px
  font-weight: 800

.Italic 
  font-style: italic

.HometownTestimonialContent 
  padding-left: 50px
  font-weight: 800
  font-style: italic

.subheading 
  font-weight: 800

.headline 
  font-weight: 800

.HometownLink 
  color: #ac8f0f 

.center img
  display: block
  margin-left: auto
  margin-right: auto

.page
  @extend .fade-transition

@import '~vuetify/src/stylus/app.styl'

